<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762204671850-cren1q8ks5862a7bfcapa82na483jk9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762204671850-cren1q8ks5862a7bfcapa82na483jk9v</string>
	<key>API_KEY</key>
	<string>AIzaSyD_MNRheU3dzS0JRyervaVOLsyl6m_-vBY</string>
	<key>GCM_SENDER_ID</key>
	<string>762204671850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apms.apmsProject</string>
	<key>PROJECT_ID</key>
	<string>parkiza-database</string>
	<key>STORAGE_BUCKET</key>
	<string>parkiza-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762204671850:ios:10583d8fdeb5e99061df13</string>
	<key>DATABASE_URL</key>
	<string>https://parkiza-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>